.venv
__pycache__
structure.txt
python_code_bundle.txt
models
ppo_sts_tensorboard
logs
*SlayTheSpire.log
*communication_mod_errors.log
config.properties*
SlayTheSpire
sts_env_*.zip
pyrightconfig.json
cluster_workers